/*General*/
html,
body {
    background: #151618;
    width: 100%;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    color: #FFF;
    animation: fadeIn ease-in-out 0.2s;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.page {
    width: 100%
}

a {
    color: #fff;
    text-decoration: none;
}


/*Header*/
.header {
    height: 100%;
    position: relative;
    margin-top: 2em;
}

#pic {
    width: 8em;
    border-radius: 100%;
    margin-bottom: -2em;
}

h1 {
    font-size: 1.75em;
    margin-bottom: -.25em;
}

h2 {
    opacity: .5;
    font-size: .75em;
    margin-bottom: 2em;
}

h2, h3 {
    white-space: nowrap;
}


/*List*/
.list {
    max-width: 90vw;
    margin: 0 auto;
}

.list_item {
    font-size: 1.1em;
    border-radius: 1em;
    padding: 6.4em .35em 1.2em;
    margin-bottom: .75em;
    height: 100%;
    
    transition: box-shadow .2s cubic-bezier(0.4,0.0,0.2,1);

    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.list_item:focus, .list_item:active {
    outline: 0;
    box-shadow: inset 0 0 8px #000000;
}

#list_partners {
    margin-top: 1em;
}


/*Footer*/
.social {
    opacity: 0.5;
    font-weight: 400;
    width: 5em;
    right: 0;
    left: 0;
    bottom: 2em;
    position: relative;
    margin: 3em auto 0 auto;
}

#ig_icon {
    width: 1em;
    fill: #ffffff;
}


/*Scrollbar*/
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #424242;
    border-radius: 2em;
}




/*iPhone 5/SE support*/
@media only screen 
and (max-device-width : 320px) 
and (orientation : portrait) {
    html, body {margin-bottom: .5em; }
    a {font-size: .8em;}
    h1 {font-size: 1.5em;}
    h2 {font-size: .5em;}
    .list_item {
        font-size: 1.1em;
        border-radius: 12px;
        padding: 5.8em .35em 1.2em;
        margin-bottom: .75em;
        height: 1em;
        
        box-shadow: 0 0 4px #FFFFFF59;
        transition: box-shadow .2s cubic-bezier(0.4,0.0,0.2,1);
    }
    .social {
        width: 4em;
        height: 1em;
        position: relative;
    }
}

@media only screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .list {
        display: inline-flex;
        overflow-x: auto;
    }
    h3 {
        margin: auto 2em;
    }
    .list_item {
        font-size: 1.5em;
        padding: 8em .35em 0em;
        margin: 0 .5em;
        width: 40vw;
        height: 10vh;
    }
    .social {
        width: 6em;
        height: 2em;
        position: relative;
        bottom: 2em;
    }
}
