/*General*/
html,
body {
    width: 100%;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    animation: fadeIn ease-in-out 0.2s;
    color: var(--fontcolor);
}

.page {
    width: 100%
}

a {
    color: var(--fontcolor);
    text-decoration: none;
}


/*Content*/
.header {
    height: 100%;
    position: relative;
    margin-top: 2em;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.back {
    text-align: center;
    display: block;
    font-size: 1.5em;
}

#pic {
    width: 12em;
}

h1 {
    font-size: 1.75em;
    margin-bottom: -.25em;
}

h2 {
    opacity: .5;
    font-size: .75em;
    margin-bottom: 2em;
}

h2, h3 {
    white-space: nowrap;
}

h3 {
    margin-bottom: -1em;
}

h4 {
    margin-top: -1em;
}

.partner_pic {
    border-radius: 1em;
    width: 90vw;
}

/*Footer*/
.social {
    opacity: 0.5;
    font-weight: 400;
    width: 5em;
    right: 0;
    left: 0;
    bottom: 2em;
    position: relative;
    margin: 3em auto 0 auto;
}

#ig_icon {
    width: 1em;
    fill: red;
}


/*Scrollbar*/
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #424242;
    border-radius: 2em;
}




/*iPhone 5/SE support*/
@media only screen 
and (max-device-width : 320px) 
and (orientation : portrait) {
    html, body {margin-bottom: .5em; }
    a {font-size: .8em;}
    h1 {font-size: 1.5em;}
    h2 {font-size: .5em;}
    .social {
        width: 4em;
        height: 1em;
        position: relative;
    }
}

@media only screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .list {
        display: inline-flex;
        overflow-x: auto;
    }
    h3 {
        margin: auto 2em;
        margin-bottom: -1em;
    }
    .partner_pic {
        border-radius: 1em;
        width: 50vw;
    }
    .social {
        width: 6em;
        height: 2em;
        position: relative;
        bottom: 2em;
    }
}
